.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  font-family: "CabinetGrotesk-Bold", Courier, monospace;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/close-button.svg");
  background-repeat: no-repeat;
  padding: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 8px;
}

.modal__input::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-option {
  margin-bottom: 8px;
}

.modal__radio-input {
  accent-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-right: 8px;
}

.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-input:checked + .modal__label_type_radio {
  color: rgba(0, 0, 0, 1);
}

.modal__submit {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  cursor: pointer;
}

.modal__button-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.modal__additional-content {
  margin-left: 16px;
}

.modal__link-button {
  background: none;
  border: none;
  opacity: 50%;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 0;
}

.modal__content_type_image {
  padding: 0;
  width: 100%;
  max-height: 610px;
  margin: 0 auto;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  max-height: 498px;
  max-width: 498px;
}

.modal__footer {
  padding: 20px 32px 32px;
}

.modal__footer-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.modal__deleteBtn {
  background-color: transparent;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  align-self: start;
}

.modal__caption {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}
