.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk-Bold", Courier, monospace;
  justify-content: space-between;
}

.header__logo {
  margin-right: 24px;
  display: flex;
}

.header__add-clothes-button {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__date-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__date-container {
  display: flex;
  align-items: center;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__user-link:visited {
  color: inherit;
}


.header__username {
  margin: 0 12px 0 0;
  font-size: 20px;
  line-height: 24px;
}

.header__auth-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__signup-button,
.header__login-button {
  background: transparent;
  color: #000;
  padding: 0px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
}

.header__signup-button:hover,
.header__login-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
