.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk-Bold", Courier, monospace;
  justify-content: space-between;
}

.header__logo {
  margin-right: 24px;
  display: flex;
}

.header__add-clothes-button {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__date-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__date-container {
  display: flex;
  align-items: center;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__user-link:visited {
  color: inherit;
}


.header__username {
  margin: 0 12px 0 0;
  font-size: 20px;
  line-height: 24px;
}
