.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 171px;
  font-family: "CabinetGrotesk-Medium", Courier, monospace;
}

.footer__dev,
.footer__year {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
